@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'poppins';
}

body {
    background-color: #0d0f11;
}

#login-page {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {}

.title h1 {
    margin-bottom: 35px;
    font-size: 37px;
    color: white;
    


}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #191d23;
    border-radius: 8px;
    padding: 30px 3px 50px 3px;
    border: 3px solid #7b57e02a;
}

.login-container p {
    color: white;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: bold;
}

.login-container input {
    margin: 5px 50px;
    border-radius: 7px;
    font-size: 16px;
    padding: 4px 15px;
    width: 260px;
    border: none;
}

.login-container button {
    margin-top: 50px;
    padding: 4px 32px;
    font-size: 14px;
    background-color: #7b57e0;
    border-radius: 7px;
    color: white;

}

#user-dashboard {
    display: none;
}

.clr-yellow {
    background-color: #efb047;
}

.clr-blue {
    background-color: #5395cf;
}

.clr-green {
    background-color: #50c099;
}

.container {
    display: flex;
    flex-direction: column;
}



.upper-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.balances {

    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

}

.balance-card {
    border-radius: 7px;
    margin: 0px 25px;
    padding: 10px 20px;
    height: 100px;
    width: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(0, 0, 0);
}

.balance-card h2 {
    font-size: 40px;
}

.lower-section {
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.transition-cards {

    display: flex;
    flex-direction: row;flex-wrap: wrap;
}

.transition-card {
    display: flex;
    flex-direction: column;
    margin: 50px;
    background-color: #191d23;
    padding: 20px 30px 30px 30px;
    border-radius: 7px;
    height: 200px;
    width: 400px;
    justify-content: center;
    border: 3px solid #7b57e02a;
}

.transition-card h2 {
    font-size: ;
}


.transition-card button {
    margin-top: 40px;
    padding: 4px 32px;
    font-size: 14px;
    background-color: #7b57e0;
    border-radius: 7px;
    color: white;
    width: max-content;
}

.transition-card input {
    margin: 20px 0px;
    border-radius: 7px;
    font-size: 16px;
    padding: 4px 15px;
    border: none;
    font-weight: bold;

}
.transition-card input::placeholder{
    font-weight: normal;
}

.dashboard-title{
    text-align: center;
    color: white;
    margin: 70px 0px 55px 0px;
    display: flex;
    justify-content: center;
}

.dashboard-title h1{
    width: 415px;
    padding-bottom: 1px;
    border-bottom: 1px solid #7b57e0;
}
