@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'poppins';
    box-sizing: border-box;
}

body {
    background-color: #0d0f11;
}

/* Login page CSS */

#login-page{
    height: 100vh;
    color: white;
}
.login-page-container{
    height: 100%;
    max-width: 580px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    padding: 0px 20px;
}
.title{
    text-align: center;
   
}

.title h1 {
    font-size: 35px;
}
.login-form{
    background-color: #191d23;
    border: 3px solid #7b57e02a;
    padding: 30px 45px 35px 45px;
    display: flex;
    border-radius: 7px;
    flex-direction: column;
    margin: 0px auto;
    max-width: 410px;
    height: 320px;
}
.login-container input{
    margin: 5px 0px;
    border-radius: 7px;
    font-size: 16px;
    padding: 6px 16px;
    border: none;
}

.login-container a{
    text-align: center;
    margin-top: 07px;
    color: #7b57e07e ;
}

.login-container p{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
}
.login-container button{
    padding: 4px 32px;
    font-size: 14px;
    background-color: #7b57e0;
    border-radius: 7px;
    color: white;
    max-width: 120px;
    margin: auto auto 0px auto;
}

@media (max-width: 430px) {
    .login-form {
        padding: 30px 25px 35px 25px;
}}

#user-dashboard {
    display: none;
}

.clr-yellow {
    background-color: #efb047;
}

.clr-blue {
    background-color: #5395cf;
}

.clr-green {
    background-color: #50c099;
}

.container {
    display: flex;
    flex-direction: column;
}



.upper-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.balances {

    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

}

.balance-card {
    border-radius: 7px;
    margin: 0px 25px;
    padding: 10px 20px;
    height: 100px;
    width: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(0, 0, 0);
}

.balance-card h2 {
    font-size: 40px;
}

.lower-section {
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.transition-cards {

    display: flex;
    flex-direction: row;flex-wrap: wrap;
}

.transition-card {
    display: flex;
    flex-direction: column;
    margin: 50px;
    background-color: #191d23;
    padding: 20px 30px 30px 30px;
    border-radius: 7px;
    height: 200px;
    width: 400px;
    justify-content: center;
    border: 3px solid #7b57e02a;
}

.transition-card h2 {
}


.transition-card button {
    margin-top: 40px;
    padding: 4px 32px;
    font-size: 14px;
    background-color: #7b57e0;
    border-radius: 7px;
    color: white;
    width: max-content;
}

.transition-card input {
    margin: 20px 0px;
    border-radius: 7px;
    font-size: 16px;
    padding: 4px 15px;
    border: none;
    font-weight: bold;

}
.transition-card input::placeholder{
    font-weight: normal;
}

.dashboard-title{
    text-align: center;
    color: white;
    margin: 70px 0px 55px 0px;
    display: flex;
    justify-content: center;
}

.dashboard-title h1{
    width: 415px;
    padding-bottom: 1px;
    border-bottom: 1px solid #7b57e0;
}
